{% extends "AcmeStoreBundle::layout.html.twig" %}

{% block title "Welcome " %}

    {% block content %}

        <div id="wrap">
            <div class="container">
                <div class="alert alert-success">
                    <h1>Databases and Doctrine</h1>
                    <p>One of the most common and challenging tasks for any application involves persisting and reading
                        information to and from a database. Fortunately, Symfony comes integrated with Doctrine, a
                        library whose sole goal is to give you powerful tools to make this easy. In this chapter, you'll
                        learn the basic philosophy behind Doctrine and see how easy working with a database can be.</p>
                </div>
            </div>
        </div>

    {% endblock %}